@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />YiFan Hsu<br />
    <abbr title="Phone">CellPhone:</abbr>
    0955.082.021
</address>

<address>
    <strong>Support:</strong>   <a href="g1991221@gmail.com">g1991221@gmail.com</a><br />
 