
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>留言板</h1>
    <h2>@ViewData["Message"]</h2>
    <p class="lead">擁有新增、修改、回覆、搜尋等功能，並將透過Ajax顯示。</p>
    <p><a href="~/Board/Index" class="btn btn-primary btn-lg">點擊此處前往留言板 &raquo;</a></p>
</div>

<div class="row">
 
</div>