
@{
    ViewBag.Title = "TestAction";
}

<h2>TestAction</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("輸入使用者名稱:")
        <input type="text" name="UserId" />
    </div>
    <div>
        @Html.Label("輸入年紀:")
        <input type="text" name="Age" />
    </div>
    <div>
        @Html.Label("輸入訊息:")
        <input type="text" name="Content" />
    </div>

    <div>
        使用者輸入的訊息為:
        使用者名稱:@ViewData["UserId"]<br />
        年齡      :@ViewData["Age"]<br />
        內容      :@ViewData["Content"]<br />
    </div>
    <input type="submit" class="btn btn-primary" value="送出查詢" />
}

