<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>MVCTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ASP.NET MVC" Order="3" Enabled="False">
          <Destination Path="Data Source=LAPTOP-8FAAALRS\SQLEXPRESS;Initial Catalog=&quot;ASP.NET MVC&quot;;User ID=garysql;Password=garysql" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-8FAAALRS\SQLEXPRESS;Initial Catalog=&quot;ASP.NET MVC&quot;;Integrated Security=True;Persist Security Info=False;User ID=garysql;Password=garysql" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ASP.NET MVC_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Persist Security Info=False;&#xD;&#xA;        Integrated Security=true; Server=LAPTOP-8FAAALRS\SQLEXPRESS;initial catalog=ASP.NET MVC;&#xD;&#xA;        User ID=garysql;Password=garysql;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ASP.NET MVC-Web.config Connection String">
      <ParameterValue>Data Source=LAPTOP-8FAAALRS\SQLEXPRESS;Initial Catalog="ASP.NET MVC";User ID=garysql;Password=garysql</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>