@model WebApplication1.ViewModels.Board_ViewModels

@{
    ViewBag.Title = "留言板";
}

@Html.AntiForgeryToken()


@*載入新增留言頁面*@
<div id="CreateData">
    @Html.Action("Create")
</div>


@Html.Action("GetDataList")